
@{
    var sexual = "Male";
    if(sexual== "Male")
    {
        <h1>Welcome Mr. @Model</h1>
    }
}

<h3>Phone: 01148873469</h3>
<h3>Male</h3>
<h3>Age: 29</h3>

@{
    for(int i = 0; i < 10; i++)
    {
        <h4>@i</h4>
    }
}